.wrap {
display: flex;
gap: 20px;
flex-wrap: wrap;
margin: 20px;
}
.col {
width: 29.33%;
padding: 30px;
background: #e9e9e9;
text-align: center;
box-sizing: border-box;
}

@media (max-width: 1024px) {
.col {
width: 45%;
}
}

@media (max-width: 600px) {
.col {
width: 100%;
}
}