.contenedor{
    background-color: lightblue;
    border: 2px solid navy;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.caja1{
    background-color: white;
    border: 2px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}
.caja2{
    background-color: white;
    border: 2px solid gray;
    padding: 10px;
}