.productos {
display: flex;
gap: 20px;
flex-wrap: wrap;
}
.card {
width: 33.33%;
background: #f4f4f4;
padding: 40px;
text-align: center;
border: 1px solid #ccc;
box-sizing: border-box;
}

@media (max-width: 900px) {
.card {
width: 50%;
}
@media (max-width: 600px) {
.card {
width: 100%;
}
}
}