
body{
    background-color: grey;

}
.header{
    background-color: lightblue;
    text-align: center;
    font-size: 40px;
    
}
h1{margin: 0px;}
.sidebar{
    background-color: lightgreen;
    width: 10%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    align-content: center;
    
}
.sidebar1{
    background-color: orange;
    width: 10%;
    height: 100px;lk
    text-align: center;
    font-size: 40px;
    align-content: center;
    
}
.Nestrenos{
    background-color: blue;
    width: 79%;
    height: 100px;
    text-align: center;
    font-size: 40px;
    align-content: center;
}


.estreno1{
    background-color: lightblue;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 40px;
    align-content: center;
}
